        body{
               background-color: aqua;
           
        }
        
        .container{
            display:flex;
            flex-direction:column;
            align-items:center;
            padding:20px;
        }
        .container #search-bar input{
            width:300px;
            height:30px;
            border-radius:50px;
            background-color:rgb(247, 208, 193);
         
            text-align:center;
           color:rgb(27, 8, 22);
        }
        
        .container #search-bar button{
            width:100px;
            height:40px;
            border-radius:50px;
            background-color:rgb(194, 92, 51);
        }
        #movie-info {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;
            justify-content: center;
        }
        .movie-card {
            border: 1px solid #ccc;
            padding: 10px;
            width: 220px;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
        }
        .movie-card:hover {
            transform: scale(1.05);
            background: #f9f9f9;
        }